<p>Dear All</p>
<p>The leave application for <strong><span style="color: #149614">{usercode}</span></strong> has just been <strong><span style="color: rgb(226, 80, 65);">{action}</span></strong> {byapprover} with below details:</p>
<p>Leave ID: {id}</p>
<p>Status: {status}</p>
<p>-------------------------------------------</p>
<p>From: {leavefrom}</p>
<p>To: {leaveto}</p>
<p>-------------------------------------------</p>
<p>Full day: {allday}</p>
<p>Morning/Afternoon: {ismorning}</p>
<p>------------------------------------------</p>
<p>Type: {leavetype}</p>
<p>Reason: {reason}</p>
<p>Remark: {remark}</p>
<p>-------------------------------------------</p>
<p>Please login to <a href="https://tms.tdiapj.com/">https://tms.tdiapj.com</a> for details and take any required actions.</p>
<p><strong><span style="color: rgb(226, 80, 65);">*Please do not reply to this email</span></strong></p>
<p><strong>Best Regard</strong></p>
<p><strong>Admin & HR Team - TDI APJ Vietnam</strong></p>
<p><br></p>